.container {
	display:flex;
	flex-direction: column;
	margin:40px;
}

#diary_title {
	width:950px;
	margin-left: 10px;
}

.title {
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin:10px;
}

.ck.ck-editor {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.ck-editor__editable {
	height: 50vh;
}

.container_under {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
