@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }

body {
font-family: 'HBIOS-SYS';
font-size: 18px;
}

a {
    color:#111;
    text-decoration: none;
}

a:hover {
    color:#111;
    text-decoration: none;
}

.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    margin:10px;
}
/* head */
.item1 {
 grid-column:1/ span 2;
 grid-row: 1;
}

.item1 {
    background-image: url("img/bgimg.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 8% 35%;
    margin:20px;
}

.item1 h1 {
    height: 70px;
}

.bar_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#menu_bar {
    margin-right:20px;
}

/* content */
.item2 {
  grid-column:1;
  grid-row: 2 / span 3;
  text-align: center;
  width: auto;
}
.item2 img {
    margin:0;
    padding:20px;
}

.item3 {
 grid-column:2;
 width: 1300px;
 margin:10px;
 }
 
 .item4 {
 grid-column:2;
 width: 1300px;
 margin:10px;
 } 
 
 .item5 {
 grid-column: 2;
 width: 1300px;
 margin:10px;
 }

.photo_list img {
    padding:15px;
}

.photo {
	width:250px;
	height:250px;
}

/* 사진첩 스크롤 */
.scrollMenu {
  overflow: auto;
  white-space: nowrap;
  height: 300px;
  margin:0;
}
.scrollMenu::-webkit-scrollbar {
    height: 10px;
}
.scrollMenu::-webkit-scrollbar-thumb {
    background: #3a3737;
    border-radius: 10px;
}
.scrollMenu::-webkit-scrollbar-track {
    background: rgba(33, 121, 244, 0);
}

/* 모바일 */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}/* navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.dropdown-btn {
  padding: 6px 8px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

